* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  list-style: none;
}

html, body {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
}

.nav .btns button {
  width: 100px;
  height: 30px;
  border: black solid 2px;
  margin: 0px 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.nav .btns button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav #secenekler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
}

.nav #secenekler select {
  width: 159px;
  height: 25px;
  text-align: center;
  margin: 0px 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.icerik {
  display: block;
  width: 816.37795276px;
  height: 1054.88189px;
}

.icerik .yazdir {
  position: relative;
  width: 815px !important;
  height: 1055px !important;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

.icerik .yazdir .islemler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.icerik .yazdir .islemler .islem {
  text-align: left;
  width: 240px;
  height: 75px;
  font-size: 18px;
}

footer {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */